.footer {
    @include flexRow(false);
    @include flexContent($align: center);

    background-color: rgba($color-neutral-2, .1);
    padding: 4rem 0;

    @media only screen and (min-width: 800px) {
        @include flexRow(true);
        @include flexContent($align: flex-start, $justify: space-evenly);
    }
    @media only screen and (min-width: 1280px) {
        @include flexContent($justify: space-around);
    }

    @media only screen and (min-width: 600px) and (max-width: 999px) and (max-height: 500px) {
        @include flexRow(true);
        @include flexContent($align: flex-start, $justify: space-evenly);
    }

    &-logo-box {
        margin-bottom: 3.5rem;
        max-width: 6rem;
        width: 13%;

        @media only screen and (min-width: 1280px) {
            margin-right: -10rem;
        }

        @media only screen and (min-width: 600px) and (max-width: 999px) and (max-height: 500px) {
            width: 7%;
        }

        &__img {
            width: 100%;
        }
    }

    &-links {
        color: $color-neutral-1;
        list-style: none;
        text-align: center;
        
        @media only screen and (min-width: 800px) {
            column-count: 3;
            text-align: left;
        }
        @media only screen and (min-width: 1280px) {
            flex-basis: 38%;
        }

        @media only screen and (min-width: 600px) and (max-width: 999px) and (max-height: 500px) {
            column-count: 3;
            flex-basis: 50%;
            text-align: left;
        }

        &__item {
            margin-bottom: 2.5rem;
        }
    }

    &-social {
        @include flexRow(true);
        @include flexContent($justify: space-between);
        margin-top: 2.5rem;
        max-width: 15rem;
        width: 40%;

        @media only screen and (min-width: 1280px) {
            height: 20%;
            max-width: none;
            width: 10%;
        }

        @media only screen and (min-width: 600px) and (max-width: 999px) and (max-height: 500px) {
            width: 15%;
        }
        
        &__img {
            @media only screen and (min-width: 1280px) {
                width: 20%;
            }
            
            @media only screen and (min-width: 600px) and (max-width: 999px) and (max-height: 500px) {
                width: 18%;
            }
        }
    }
}