.footer {
    @include flexRow(false);
    @include flexContent($align: center);

    background-color: rgba($color-neutral-2, .1);
    padding: 4rem 0;

    @media only screen and (min-width: 800px) {
        @include flexRow(true);
        @include flexContent($align: flex-start, $justify: space-evenly);
    }


    &-logo-box {
        margin-bottom: 3.5rem;
        max-width: 5rem;
        width: 13%;

        &__img {
            width: 100%;
        }
    }

    &-links {
        color: $color-neutral-1;
        list-style: none;
        text-align: center;
        
        @media only screen and (min-width: 800px) {
            column-count: 3;
            text-align: left;
        }

        &__item {
            margin-bottom: 2.5rem;
        }
    }

    &-social {
        @include flexRow(true);
        @include flexContent($justify: space-between);
        margin-top: 2.5rem;
        max-width: 15rem;
        width: 40%;

        &__img {

        }
    }
}