.hero {
    @include flexRow(false);
    @include flexContent($align: center);

    background-image: url(../images/bg-header-mobile.png);
    background-position: center center;
    background-size: cover;
    padding-bottom: 15rem;
    padding-top: 10rem;

    &-logo-box {
        margin-bottom: 6rem;
        width: 35%;

        &__logo {
            display: block;
            width: 100%;
        }
    }

    &-heading {
        margin-bottom: 4rem;
    }

    &-cta {
        @include flexRow(false);
        @include flexContent($align: center);

        width: 100%;

        &__button {
            border: none;
            border-radius: 3rem;
            color: $color-white;
            cursor: pointer;
            font-family: inherit;
            font-size: 1.6rem;
            font-weight: 600;
            outline: none;
            padding: 1.6rem 0;
            text-align: center;
            width: 95%;

            &:first-of-type {
                background-color: $color-primary-1;
                border-bottom: 2px solid $color-primary-1--dark;
                margin-bottom: 1.8rem;
            }
            &:last-of-type {
                background-color: $color-primary-2;
                border-bottom: 2px solid $color-primary-2--dark;
            }
        }
    }
}