$color-primary-1: #26baa4;
$color-primary-1--dark: #209e8b;

$color-primary-2: #6173ff;
$color-primary-2--dark: #3f55ff;

$color-neutral-1: #4c545d;
$color-neutral-2: #9fabb2;

$color-black: #1b1b1b;
$color-white: #f3f3f3;