.btn {
    border: none;
    border-radius: 3rem;
    box-shadow: 0 6px 12px rgba($color-black, .15);
    color: $color-white;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    max-width: 30rem;
    outline: none;
    padding: 1.6rem 0;
    text-align: center;
    width: 95%;

    &-primary-1 {
        @extend .btn;
        background-color: $color-primary-1;
        border-bottom: 2px solid $color-primary-1--dark;
        margin-bottom: 1.8rem;
    }

    &-primary-2 {
        @extend .btn;
        background-color: $color-primary-2;
        border-bottom: 2px solid $color-primary-2--dark;
    }
}