.link {
    color: currentColor;
    text-decoration: none;
    transition: all .2s;

    &:hover,
    &:active {
        @media only screen and (pointer: fine) {
            color: $color-primary-1;
        }
    }
}