*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    padding: 0 9%;

    @media only screen and (min-width: 500px) {
       padding: 0 12%; 
    }
    @media only screen and (min-width: 1000px) {
        padding: 0 20%;
    }
}